body {
    font-family: 'Courier New', sans-serif;
    --main-calculator-color: #f2f2f2;
    --main-calculator-background-color: #333;
    --main-calculator-border-color: #272626;
    --calculator-font: 'Digital-7', sans-serif;
    --other-options-color: #a3f3c1;
    --number-color: #deffeb;
    --operator-color: #49f097;
    
    
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calculator-container {
    display: flex;
    flex-direction: column;
    background-color: var(--main-calculator-background-color);
    width: max(20vw, 300px);
    height: 400px;
    border: 2px solid var(--main-calculator-border-color);
    border-radius: 10px;
    padding: 10px;
    overflow: clip;
}

.resultbar{
    
    background-color: var(--main-calculator-color);
    color: var(--main-calculator-background-color);
    border: 2px solid var(--main-calculator-border-color);
    border-radius: 5px;
    font-size: 3rem;
    font-family: var(--calculator-font);
    text-align: right;
    border-bottom: 10px solid gray
}

.result {
    padding-top: 5px;
    padding-right: 5px;;
}

.calculator-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    padding-top: 10px;
}

.calculator-buttons .buttonrow {
    display:flex;
    justify-content: space-between;
    width:100%;
    height:100%;
}

button {
    width: 25%;
    font-size: 1.7rem;
    font-weight: 500;
}

.zero {
    flex-grow: 1;
}

.other-option {
    background-color: var(--other-options-color);
}

.number,
.other {
    background-color: var(--number-color);
}

.operator {
    background-color: var(--operator-color);
}

.number:hover,
.other:hover {
    background-color: #bbd8c7;
}

.operator:hover {
    background-color: #3e8e6d;
}

.other-option:hover {
    background-color: #7fffd4;
}